
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* reset */
:root{
    --light-purple:#EAE8FE;
    --purple: #6327FE;
    --white:#FFFFFF;
    --light-gray:#BDBDBD;
    --gray:#333333;
    --black:#000000;
}

*{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}


/* decorate*/
body{
    background-color:var(--light-purple);
}

button:hover{
    opacity: 0.8;
}

/* header */
/* .header{
    text-align: center;
}

.logo{
    width: 386px;
    height: 180px;
} */

.tit-app{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 386px;
    height: 180px;
    background-image: url("images/logo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 248px;
}

/* main_top */
.main-top{
    width: 360px;
    background-color: var(--white);
    padding:27px;
}

/* menu_wrapper */
.menu-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:12px;
    margin-bottom: 20px; 
}

.menu-box{
    width: 94px;
    box-shadow: 0px 0px 3px 0px #00000080;
    border-radius: 10px;
    font-size: 9px;
    color: var(--gray);
    text-align: center;
}

.menu-box p{
    line-height: 10px;
    margin-top: 6px;
}

.menu-box.selected{
    outline: 3px var(--purple) solid; 
}

.menu-box img{
    margin-top:10px;
    width: 36px;
    height: 65px;
}

.menu-box button{
    margin-top: 7px;
    margin-bottom: 9px;
    width: 70px;
    line-height: 22px;
    border-radius: 50px;
    background-color: var(--purple);
    color:var(--white);
}

/* charge_wrapper */
/* grid로 바꾸다가 실패함... */
.refund-btn, .charge-btn{
    padding:0;
    font-size: 13px;
    width: 94px;
    height: 33px;
    margin-left:12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px 0px #00000080;
    border-radius: 5px;
}

.charge-top{
    display: flex;
}

.charge-box{
    width: 200px;
    line-height: 33px;
    border-radius: 5px;
    padding: 0 10px;
    background-color: var(--light-purple);
}

.charge-box p:nth-child(1){
    float:left;
}

.charge-box p:nth-child(2){
    float: right;
}

.charge-middle{
    display: flex;
    margin: 11px auto 12px;
}

.charge-middle input{
    width: 200px;
    padding: 6px 0 7px 6px;
    font-size: 13px ;
    color:var(--light-gray);
    border: var(--light-gray) solid 1px;
    border-radius: 5px;
}

.charge-bottom{
    display: flex;
}

.get-btn{
    margin-left: 12px;
    padding: 43px 35px 44px;
    background-color: var(--purple);
    color:var(--white);
    border-radius: 5px;
    width: 94px;
    font-size: 13px;
}

.select-lists{
    border: 1px var(--light-gray) solid;
    background-color: var(--light-purple);
    width: 200px;
    height: 106px;
    font-size: 9px;
    overflow: hidden scroll;
    padding:12px;
    border-radius: 5px;
}

.select-list{
    margin: 0 auto 6px;
    width: 170px;
    height: 46px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
}

.select-list img{
    height: 33px;
    width: 18px;
}

/* box size를 height주지 않고 다른 방법이 있을까? */
.select-num{
    width:30px;
    height: 30px;
    font-size:14px;
    font-weight: 500;
    border: var(--light-gray) solid 2px;
    border-radius: 4px;
    text-align: center;
    line-height: 25px;
}

/* main_bottom */
.main-bottom{
    margin-left: 28px;
    width: 360px;
    height: 545px;
    background-color: var(--light-purple);
}

.money-box{
    width: 360px;
    background-color: var(--white);
    padding: 9px 27px;
}

/* 정렬을 line-height로 하는게 맞는지...? */
/* float 정렬을 하고 싶었는데 잘 안됨. */
.money-wrapper{
    background-color: var(--light-purple);
    line-height: 32px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px;
    border-radius: 5px;
}

.drink-box{
    margin-top:20px;
    width: 360px;
    height: 474px;
    background-color: var(--white);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.drink-box h2{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
}

.drink-wrapper{
    width: 306px;
    height: 364px;
    background-color: var(--light-purple);
    padding: 12px;
    overflow: hidden scroll;
    border: var(--light-gray) 1px solid;
    border-radius: 5px;
}

/* float로 변경하고 싶은데 잘 안됨.. */
.drink{
    width: 276px;
    padding: 6px 10px;
    margin-bottom:6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    font-size: 9px;
    border-radius: 5px;
}

.drink div{
    display: flex;
    align-items: center;
}

.drink img{
    width: 18px;
    height: 33px;
    margin-right: 10px;
}

.sum{
    /* 정렬 어째야 할지?  */
    width:100%;
    display:inline;
    text-align: end;
    margin-right: 65px;
    font-size:12px; 
    font-weight: 500;
    margin-top: 6px;
}

/* scroll */
.select-lists::-webkit-scrollbar,
.drink-wrapper::-webkit-scrollbar
{
    width:4px;
}
.select-lists::-webkit-scrollbar-thumb,
.drink-wrapper::-webkit-scrollbar-thumb
{
    background-color: var(--white);
    border-radius: 10px;
}
.select-lists::-webkit-scrollbar-track,
.drink-wrapper::-webkit-scrollbar-track 
{
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}


@media screen and (max-width:768px) {
    main {
        flex-wrap: wrap;
    }
    .main-bottom{
        margin:0;
    }
}